---
import ThemeToggle from './ThemeToggle.astro';
---
<nav class="navigation">
  <div class="nav-container">
    <div class="nav-brand">
      <a href="/">My Blog</a>
    </div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/rss.xml">RSS</a>
      <ThemeToggle />
    </div>
  </div>
</nav>